.popular-page-container {
  margin: 0 var(--margin-small-screen);
}

.popular-page-container__subtitle {
  font-size: var(--font-size-headline-2);
  font-weight: 600;
  line-height: 22px;
  color: var(--color-black);
  margin: 16px 0;
}

@media (min-width: 768px) {
  .popular-page-container {
    margin: 0 var(--margin-big-screen);
  }
}
